.body {
    margin: 0 1rem
}

.slider {
    grid-area: slider;
}

.info {
    display: grid;
    margin: 0.5rem 0 0.5rem 0.5rem;
    grid-area: info;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 40%;
    row-gap: 5px;
    grid-template-areas: 
    "category tech"
    "date ."
    "project-btn source-code-btn";
}