#Navigation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    z-index: 3;
    height: 100vh;
    overflow-x: hidden;
    position: fixed;
}

#myHypeImage {
    width: 120px;
    border-radius: 50%;
    border: 5px solid #484848;
    margin-bottom: 15px;
}

.sectionActive{
    color: #dc3545 !important;
}

#menu {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;
    background-color: #222;
    height: 58px;
    font-size: medium;
    color: rgba(255,255,255,.8);

}